<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="title" content="cwuit.com| best online chatting website">
    <meta name="description" content="Free online chatting website, making new friend online, share your story here! create your account and start chatting right now">
    <meta name="keywords" content="chatting, online chat, free chat, anonymous chat, stranger chat">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="By Gregrorius Rinaldo and Vincentius Ronalto">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/variable.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/dark.css" id=color_theme_css disabled>
    <link rel="stylesheet" href="/css/contentload.css">


    <script data-ad-client="ca-pub-4384592571804102" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>cwuit.com| best online chatting website</title>

</head>
<body>
    <div id="wrapper_all">
        
        <!-- <div id="responsive_black_modal" ></div> -->

        <div id="wrapper_inside">
            <div id="responsive_black_modal" class="hide"></div>
                <!-- chat -->
        <div class="single_content"  data-link="chat">
            <div id="chat_topic">   
                <div id="chat_topic_selection">
                    <a id="logo_right" href="/">
                        Cwuit
                    </a>

                    <div id="chat_topic_wrapper">
                        <!-- <img src="/test/loading.gif" alt="chat" id="illustration_loading"> -->
                    </div>

                    <div id="chat_private_wrapper">
                        
                    </div>
                </div>
                

                <!-- Banner Ad 1 -->
                <!-- <div id="banner_ad_1">
                    <div>
                        Banner Ad 1
                    </div>
                    
                </div> -->
                
                
            </div>

            <div id="content_chat">
                <div id="chat_top_header">
                    <span class="material-icons" id="left_icon_display">list</span>
                    <div id="info_which_chat">Welcome 😊</div>
                    <div id="top_right_separator">

                    </div>
                    <!-- light_mode -->
                    <!-- dark_mode -->
                    <div class="material-icons" id="color_theme_picker"></div>

                    <%if (locals.ifLogin == false) { %>
                        <a id="sign_btn" href="/login">
                            Sign In
                        </a>
                        <% } else { %>
                            <div id="my_profile_top_right">
                                <img src="/upload/user/<%= locals.MYDATA.photo %>" alt="my photo" id="profile_photo_small_right">
                            </div>
                        <% } %>

                        <span class="material-icons" id="right_icon_display">info</span>
                    
                    
                </div>
                <div id="chat_room_output">
                    <div id="illustration_wrapper">
                        <img src="/test/illus_view.svg" alt="chat" id="illustration_chat">
                        
                        <div>
                            <h1>Welcome to cwuit.com online chat</h1>
                            
                            <%if (locals.ifLogin == false) { %>
                                <h2>Create your account today to start chatting!~</h2>
                                <a id="sign_btn" href="/login">
                                    Sign In
                                </a>
                                <% } else { %>
                                    <h2>Click the Left Menu to start chatting!~</h2>
                                <% } %>
                        </div>
                        
                    </div>
                    
                </div>
                <div id="chat_preview_images"></div>
                <div id="chat_room_input" class="hide">
                    <label id="chat_image_selector" for="chat_hidden_input_file"><div class="chat_add_photo_btn material-icons">image</div></label>
                    <input id="chat_hidden_input_file" type="file"  accept="image/png, image/jpeg" multiple>
                    <div id="chat_room_input_box" class="contenteditable" contenteditable="true" data-placeholder="Chat here..."></div>  
                    <!-- <span id="chat_room_input_box" class="contenteditable" contenteditable="true" data-placeholder="Chat here..."></span>   -->
                    <div id="chat_room_send_btn">Send</div>
                </div>
            </div>
            

            <div id="profile_right_wrapper">
                <div id="profile_header">
                    Vrozen's Profile
                </div>
                <div id="profile_right_inside">
                    

                </div>
                

                <!-- Banner Ad 2 -->
                <!-- <div id="banner_ad_1">
                    <div>
                        Banner Ad 2
                    </div>
                    
                </div> -->

            </div>
        </div>         
        </div>
        
    </div>

    <div>
        <input type="hidden" id="MY_NAME" value="<%= locals.MYDATA.name %>">
        <input type="hidden" id="MY_USERNAME" value="<%= locals.MYDATA.username %>">
        <input type="hidden" id="MY_ID" value="<%= locals.MYDATA.id %>">
        <input type="hidden" id="MY_PHOTO" value="<%= locals.MYDATA.photo %>">
        <input type="hidden" id="MY_GEN" value="<%= locals.MYDATA.info_gender %>">
        <input type="hidden" id="MY_BIO" value="<%= locals.MYDATA.info_bio %>">
        <input type="hidden" id="MY_WEB" value="<%= locals.MYDATA.info_website %>">
        <input type="hidden" id="MY_IG" value="<%= locals.MYDATA.info_instagram %>">
        <input type="hidden" id="MY_FB" value="<%= locals.MYDATA.info_facebook %>">
        <input type="hidden" id="MY_TW" value="<%= locals.MYDATA.info_twitter %>">
        <input type="hidden" id="MY_CTY" value="<%= locals.MYDATA.info_country %>">
        <input type="hidden" id="MY_DATE" value="<%= locals.MYDATA.date_created %>">

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    
</body>

</html>